@font-face {
  font-family: Outfit;
  src: url('../fonts/Outfit-Light.woff2') format('woff2');
  font-weight: auto;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  src: url('../fonts/Outfit-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}