/* ------ WEBSITE SIZES ------ */
$container-width: 1360px;
$header-height: 102px;
$header-height-mobile: 72px;

/* ------ COLORS & FONTS ------ */
$background-color: #FEFAE0;
$main-color: #AFBF75;
$secondary-color: #C1121F;
$sans-serif-family: 'Outfit', arial, sans-serif;

/* ------ MEDIA QUERIES SIZES ------ */
$large-desktop-width: 1440px;
$medium-desktop-width: 1280px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;